header {
    background-color: #0b1c51;
}

header h1 {
    font-size: 52px;
    color: #fff;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: #fff;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

@media all and (min-width: 600px) {
    header {
      display: flex;
      justify-content: space-between;
    }

    header h1 {
        font-size: 48px;
    }
}